{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}
        Edit Project
    {% else %}
        New Project
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if form.instance.pk %}
            Edit Project
        {% else %}
            New Project
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
         {{ form|crispy }}
        <button type="submit">Save</button>
    </form>

    <p>
        <a href="{% url 'project_list' %}">← Back to projects</a>
    </p>
{% endblock %}