{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Freelancer CRM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Freelancer CRM</a></h1>
        <nav>
            <a href="{% url 'client_list' %}">Clients</a> |
            <a href="{% url 'project_list' %}">Projects</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>